###############################################################################
#
# name: uncholowapo (Juan Moreno)
# made: Juan
# date: 07-12-2009
# 
#
############################################################## FONTS ##########
					
menu.frame.font:			san-10
menu.title.font:			Kingdom Hearts-24
toolbar.clock.font:			Kingdom Hearts-16
toolbar.workspace.font:			Kingdom Hearts-16
toolbar.iconbar.focused.font:		sans-8:bold
toolbar.iconbar.unfocused.font:		sans-8
window.font:				tahoma-9:bold

############################################################## MENU ###########

menu.bevelWidth:			1

#menu.itemHeight:			35
#menu.titleHeight:			20

menu.borderColor:			#2a2a2a
menu.borderWidth:			1

menu.bullet.position:			right
menu.bullet:				triangle

menu.submenu.pixmap:			bullet.xpm
menu.hilite.submenu.pixmap:				

menu.selected.pixmap:			selected.xpm
menu.hilite.selected.pixmap:			

menu.unselected.pixmap:			unselected.xpm	
menu.hilite.unselected.pixmap:			

menu.title:				flat
menu.title.pixmap:			panel.png
menu.title.justify:			center
menu.title.color:			#
menu.title.colorTo:			#
menu.title.textColor:			#e7e7e7

menu.frame:				flat
menu.frame.pixmap:			menu_back.xpm
menu.frame.justify:			left
menu.frame.color:			#000000
#menu.frame.colorTo:			#252525
menu.frame.textColor:			#ffffff
menu.frame.disableColor:		#999999

menu.hilite:				flat 
menu.hilite.pixmap:			menu_focused.xpm
#menu.hilite.color:			#226592
#menu.hilite.colorTo:			#37acba
menu.hilite.textColor:			#ffffff

############################################################## TOOLBAR ########

toolbar.bevelWidth:			0

toolbar.borderWidth:			1
toolbar.borderColor:			#2a2a2a

toolbar.height:				32

toolbar.justify:			center

toolbar:				flat
toolbar.pixmap:				toolbar.png
toolbar.color:				#
toolbar.colorTo:			#

toolbar.clock:				flat
toolbar.clock.pixmap:			toolbar.png
toolbar.clock.justify:			center
toolbar.clock.color:			#
toolbar.clock.colorTo:			#
toolbar.clock.textColor:		#e7e7e7

toolbar.workspace:			flat
toolbar.workspace.pixmap:		toolbar.png
toolbar.workspace.justify:		Center
toolbar.workspace.color:		#
toolbar.workspace.colorTo:		#
toolbar.workspace.textColor:		#e7e7e7

toolbar.button:				flat 
toolbar.button.pixmap:			toolbar.png
toolbar.button.color:			#
toolbar.button.colorTo:			#
toolbar.button.picColor:		#b3b3b3
toolbar.button.pressed:			gradient
toolbar.button.pressed.color:		#5b5b5b
toolbar.button.pressed.colorTo:		#252525
toolbar.button.pressed.picColor:	#b3b3b3

toolbar.iconbar.empty:			flat
toolbar.iconbar.empty.pixmap:		toolbar.png
toolbar.iconbar.empty.color:		#
toolbar.iconbar.empty.colorTo:		#

#toolbar.iconbar.focused.borderWidth:	1
#toolbar.iconbar.focused.borderColor:	#aeaeae
toolbar.iconbar.focused:		flat
toolbar.iconbar.focused.pixmap:		toolbar.png
toolbar.iconbar.focused.color:		#
toolbar.iconbar.focused.colorTo:	#
toolbar.iconbar.focused.textColor:	#e7e7e7
toolbar.iconbar.focused.justify:	left

#toolbar.iconbar.unfocused.borderWidth:	1
#toolbar.iconbar.unfocused.borderColor:	#aeaeae
toolbar.iconbar.unfocused:		flat
toolbar.iconbar.unfocused.pixmap:	toolbar.png
toolbar.iconbar.unfocused.color:	#
toolbar.iconbar.unfocused.colorTo:	#
toolbar.iconbar.unfocused.textColor:	#b3b3b3

############################################################## WINDOW #########

window.bevelWidth:			0
window.shade:				false
window.borderWidth:			1
window.borderColor:			#333335

window.justify:				Left

window.title.height:			29

window.title.focus:			flat
window.title.focus.pixmap:		panelufcs.png
window.title.focus.color:		#
window.title.focus.colorTo:		#
window.title.unfocus:			flat
window.title.unfocus.pixmap:		panelufcs.png
window.title.unfocus.color:		#
window.title.unfocus.colorTo:		#

window.label.focus:			flat
window.label.focus.pixmap:		panel.png
window.label.focus.color:		#
window.label.focus.colorTo:		#
window.label.focus.textColor:		#FFFFF0
window.label.unfocus:			flat
window.label.unfocus.pixmap:		panelufcs.png
window.label.unfocus.color:		#
window.label.unfocus.colorTo:		#
window.label.unfocus.textColor:		#6f6f6f

window.button.focus:			flat
window.button.focus.color:      	#
window.button.focus.colorTo:      	#
window.button.focus.picColor:		#
window.button.unfocus:			flat
window.button.unfocus.Color:		#
window.button.unfocus.ColorTo:		#
window.button.unfocus.picColor:		#
window.button.pressed:			flat
window.button.pressed.color:		#
window.button.pressed.colorTo:		#
window.button.pressed.picColor:		#

#window.shade.pixmap:			shadefcs.png
#window.shade.unfocus.pixmap:		shadeufcs.png
#window.shade.pressed.pixmap:		shadepr.png

#window.unshade.pixmap:			unshadefcs.png
#window.unshade.unfocus.pixmap:		unshadeufcs.png
#window.unshade.pressed.pixmap:		unshadepr.png

#window.menuicon.pixmap:			menuiconfcs.png
#window.menuicon.unfocus.pixmap:		menuiconufcs.png
#window.menuicon.pressed.pixmap:		menuiconpr.png

window.close.pixmap:			closefcs.png
window.close.unfocus.pixmap:		closeufcs.png
window.close.pressed.pixmap:		closepr.png

window.iconify.pixmap:			minfcs.png
window.iconify.unfocus.pixmap:		minufcs.png
window.iconify.pressed.pixmap:		minpr.png

window.maximize.pixmap:			maxfcs.png
window.maximize.unfocus.pixmap:		maxufcs.png
window.maximize.pressed.pixmap:		maxpr.png

#window.stick.pixmap:			stickfcs.png
#window.stick.unfocus.pixmap:		stickufcs.png
#window.stick.pressed.pixmap:		stickpr.png

#window.stuck.pixmap:			stuckfcs.png
#window.stuck.unfocus.pixmap:		stuckufcs.png
#window.stuck.pressed.pixmap:		stuckufcs.png

window.handle.focus:			flat
window.handle.focus.pixmap:		panel.png
window.handle.focus.color:		#
window.handle.focus.colorTo:		#
window.handle.unfocus:			flat
window.handle.unfocus.pixmap:		panel.png
window.handle.unfocus.color:		#
window.handle.unfocus.colorTo:		#
window.handleWidth:			3

window.grip.focus:			flat
window.grip.focus.pixmap:		panel.png
window.grip.focus.color:		#
window.grip.focus.colorTo:		#
window.grip.unfocus:			flat
window.grip.unfocus.pixmap:		panel.png
window.grip.unfocus.color:		#
window.grip.unfocus.colorTo:		#

window.roundCorners:			TopRight TopLeft
###############################################################################
# EOF
toolbar.shaped:				false
